.shopping-cart-table {
    width: 100%;
    padding: 0 20px;
}

.shopping-cart-table .table-buttons-header {
    width: 100px;
}

.shopping-cart-table .table-buttons {
    display: flex;
    justify-content: flex-end;
}

.shopping-cart-table .table-buttons button {
    margin-right: 5px;
}

.shopping-cart-table .total {
    margin-right: 10px;

    text-align: right;
    font-size: 1.2em;
}