.shop-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid lightgray;
}

.shop-header h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #1b1e21;
}

.shop-header-info {
    font-size: 1rem;
    color: #1b1e21;
}

.shop-header-cart-icon {
    color: #138496;
    font-size: 1.2rem;
    margin-right: 10px;
}